.messages {
  height: 600px;
  width: auto;
  border-radius: 5px;
  border-top: solid 1px rgba(255, 255, 255, 0.5);

  box-shadow: 10px 10px 20px rgba(51, 41, 41, 0);

  background: linear-gradient(#090a31fd, rgba(18, 6, 73, 0.685), #5207427e),
    url("./icons/controller2.jpg")no-repeat center ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  padding: 5% 0;
  overflow: auto;
}

.messages::after {
  content: "";

  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
