
.game {
  margin: 30px 10px 30px;
  width: 20rem;
  
  color: #f8f5f5e3;
  background: #140744f3;
  box-shadow: 5px 20px 20px 10px rgba(20, 20, 20, 0.253) !important;
  border: solid 1px #474646e3;
}
.game:hover {
  box-shadow: 5px 10px 20px  rgba(83, 28, 233, 0.877) !important;
  border: solid 2px rgb(76, 76, 240);
}

.game-body {

  padding: 10px;
}

.game-text {
  font-size: 20px;
  padding: 0px;
}

.overflow {
  overflow: hidden;
}
.card-img-top {
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}
.card-img-top:hover {
  transform: scale(1.4);
}
.xbox-btn {
  background:#08bd44;
  padding:5px;
  border-radius: 20px;
  width: 90%;
  margin: auto;
  margin-bottom: 15px;
}
.ps4-btn {
  background:#0a4fcf;
  padding:5px;
  width: 90%;
  margin: auto;
  border-radius: 20px;
}

#match-setting-modal label {
  color: black;
}
.row {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .modal-dialog {
    width: 100vw !important;
  }
}
