.my-custom-scrollbar {
  position: relative;
  height: auto;
  overflow: auto;
}
.table-wrapper-scroll-y {
  background: linear-gradient(
      rgba(175, 164, 175, 0.952),
      rgba(131, 131, 243, 0.739)
    ),
    url(../assets/images/kobe.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  padding: 10px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: top;
  height: 600px;
  width: 70%;
}

.trans-wrapper {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    147deg,
    #020f29 16%,
    #210635 34%,
    #020e1a 69%,
    #030113 91%
  );
}
.button-Group{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  
  
}
#dep-btn, #withdraw-btn {
  margin:40px 20px;
  padding:0 10px;
  border-radius: 20px;
  background:#1db9e0;
  border:none;
color:white;
}
.trans-table {
  width: 100%;
  box-sizing: border-box;
  height: auto;
  font-size: 20px;
  text-align: center;
  color: #250697;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .trans-table {
    width: 100%;
    margin: auto;
    font-size: 15px;
  }
  .trans-wrapper {
    width: 98%;
  }
  .trans-wrapper h2 {
    font-size: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .my-custom-scrollbar {
    display: none;
  }
  .table-wrapper-scroll-y {
    display: flex;
    width: 98%;
    padding: 2px;
  }
}
